useDynLib("BitSeq")

import(S4Vectors)
importFrom(IRanges, as.data.frame)
importFrom("methods", "is")
importFrom("utils", "read.table", "write.table")

#exportPattern("^[^\\._]")
export("parseAlignment","estimateExpression","estimateExpressionLegacy","estimateVBExpression","getMeanVariance","estimateHyperPar","estimateDE","getGeneExpression","getWithinGeneExpression");
export("getDE","getExpression","loadSamples","writeSamples");
exportPattern("tri\\.*");
