import(zlibbioc)
useDynLib("BitSeq")


#exportPattern("^[^\\._]")
export("parseAlignment","estimateExpression","getMeanVariance","estimateHyperPar","estimateDE","getGeneExpression","getWithinGeneExpression");
export("getDE","getExpression","loadSamples","writeSamples");

