import(zlibbioc)
useDynLib("BitSeq")


#exportPattern("^[^\\._]")
export("parseAlignment","estimateExpression","estimateExpressionLegacy","getMeanVariance","estimateHyperPar","estimateDE","getGeneExpression","getWithinGeneExpression");
export("getDE","getExpression","loadSamples","writeSamples");
exportPattern("tri\\.*");
